@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Roboto font to body */
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* Set font size for Quill editor */
.ql-editor {
    font-size: 1.05rem;
}
